body * {
	font-family: Helvetica;
}

#nina {
	max-width: 120px;
	border-radius: 90px;
}

a {
	color: #9dd0c6;
}

h1{
	color: #9dd0c6;
	font-size: 45px;
}

h2{
	font-size: 35px;
}

#qmarks{
	max-width: 100%;
	border: solid 1px gray
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear:after{
	clear: both;
	content: "";
	display: block;
}

#person-stats{
	margin-left: 15px;
}

#tag{
	margin-top: -17px;
	font-size: 30px;
}

#description{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
}

header *{
	display: inline-block;
}

#navdrop{
	margin-top: 30px;
	margin-right: 5px;
	font-size: 45px;
}

#story{
	text-align: center;
}

#rest{
	font-size: 30px;
}

